@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background-color: #cacaca;
	border-radius: 4px;

	&:hover {
		background-color: rgb(142, 142, 142);
	}
}

.shoppingBagItems::-webkit-scrollbar-thumb {
	background-color: transparent;
}

.shopping-cart-scroll::-webkit-scrollbar {
	width: 4px;
}

body {
	color: black;
}

.swiper-pagination {
	display: flex;
	align-items: center;
	justify-content: center;
}

.swiper-pagination-bullet {
	transition: all 0.2s;
	width: 9.5px !important;
	height: 9.5px !important;
	border-radius: 50%;
	background-color: #ffffff !important;
	opacity: 1 !important;

	@media (max-width: 640px) {
		width: 4px !important;
		height: 4px !important;
	}
}

.swiper-pagination-bullet-active {
	width: 16px !important;
	height: 16px !important;
	border-radius: 50%;
	border: 1px solid white;
	background-color: transparent !important;

	@media (max-width: 640px) {
		width: 8px !important;
		height: 8px !important;
	}
}

.swiper-button-next {
	position: absolute !important;
	right: -10px !important;
	color: #000000 !important;
	scale: 0.3 !important;
}

.swiper-button-next::before {
	position: absolute;
	width: 100%;
	height: 100%;
	scale: 1.7;
	background-color: #ffffff;
	z-index: -1;
	content: '';
}

.swiper-button-prev {
	position: absolute !important;
	left: -10px !important;
	color: #979797 !important;
	scale: 0.3 !important;
}

.swiper-button-prev::before {
	position: absolute;
	width: 100%;
	height: 100%;
	scale: 1.7;
	background-color: #ffffff;
	z-index: -1;
	content: '';
}

@keyframes pageMove {
	0% {
		margin-top: -20px;
		opacity: 0;
		scale: 0.99;
	}

	100% {
		margin-top: 0px;
		opacity: 1;
		scale: 1;
	}
}

@keyframes contentMove {
	0% {
		margin-left: 120px;
		opacity: 0;
		scale: 0.98;
	}

	100% {
		margin-left: 0px;
		opacity: 1;
		scale: 1;
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}

	.buttonActive {
		&::before {
			transition: all 0.2s ease-in-out;
			position: absolute;
			width: 100%;
			height: 100%;
			transform: scale(1.5);
			background-color: transparent;
			border-radius: 50%;
			content: '';
		}

		&:active::before {
			background-color: #d9d9d9;
		}
	}

	.pageLoadMove {
		animation: pageMove 300ms linear;
	}

	.contentLoadMove {
		animation: contentMove 300ms ease-out;
	}
}